[submodule "verus"]
	path = verus
	url = https://github.com/verus-lang/verus.git
[submodule "musl"]
	path = musl
	url = https://github.com/kraj/musl.git
[submodule "nolibc"]
	path = nolibc
	url = https://github.com/wtarreau/nolibc.git
