[submodule "verus"]
	path = third_party/verus
	url = https://github.com/verus-lang/verus.git
[submodule "musl"]
	path = third_party/musl
	url = https://github.com/kraj/musl.git
[submodule "third_party/gABI"]
	path = third_party/gABI
	url = https://github.com/xinuos/gabi.git
[submodule "third_party/psABI_x86_64"]
	path = third_party/psABI_x86_64
	url = https://gitlab.com/x86-psABIs/x86-64-ABI.git
