[submodule "verus"]
	path = third_party/verus
	url = https://github.com/verus-lang/verus.git
[submodule "musl"]
	path = third_party/musl
	url = https://github.com/kraj/musl.git
[submodule "nolibc"]
	path = third_party/nolibc
	url = https://github.com/wtarreau/nolibc.git
