name: ci

on:
  push:
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Install dependencies
        run: ./install_deps.sh

      - name: Build
        run: make

      - name: Run
        run: ./run.sh
